html {
  font-size: 10px;
}

@font-face {
  font-family: "RockwellRegular";
  src: url("fonts/RockwellRegular.eot");
  src: url("fonts/RockwellRegular.eot?#iefix") format("embedded-opentype"),url("fonts/RockwellRegular.woff") format("woff"),url("fonts/RockwellRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

.b-rw,
.header-nav li a,
.reg-rw,
.sb-rw {
  font-family: 'Raleway',sans-serif;
  font-weight: 400;
}

.b-rw,
.header-nav li a,
.sb-rw {
  font-weight: 600;
}

.b-rw,
.header-nav li a {
  font-weight: 700;
}

.header-font-bold,
.header-font-reg {
  font-family: "RockwellRegular";
  font-weight: 400;
}

.header-font-bold {
  font-weight: 700;
}

header {
  height: 100vh;
  min-height: 60rem;
  background: url("../img/bg-img.jpg") center center;
  background-size: cover;
  background-color: red;
}

.header-top-block {
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  background-color: #fff;
  height: 11rem;
}

.header-logo,
.header-nav {
  height: 11rem;
  line-height: 11rem;
}

.header-logo span,
.header-text-block h1 {
  font-family: "RockwellRegular";
  font-weight: 400;
}

.header-logo span {
  vertical-align: middle;
  margin-left: 1rem;
  font-size: 2rem;
}

.header-nav {
  border-right: 1px solid rgba(164,164,164,.1);
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.header-nav li {
  display: inline-block;
  margin: 1rem;
}

.header-nav li a {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  color: #202242;
}

.header-nav li a:hover {
  text-decoration: none;
}

.header-nav li.item-active a {
  color: #ffe13e;
}

.header-callback,
.header-nav {
  text-align: center;
}

.header-callback-text {
  padding-top: 2rem;
  font-size: 1.2rem;
}

.header-callback_btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  margin-right: 2rem;
  background-color: #ffe13e;
  color: #202242;
}

.header-callback_btn:hover {
  color: #f4d31f;
  text-decoration: none;
}

.header-callback_phone {
  font-family: "RockwellRegular";
  font-weight: 700;
  color: #202242;
  font-size: 2.2rem;
  padding-left: 2rem;
  border-left: 2px solid rgba(164,164,164,.1);
}

.header-callback_phone:hover {
  text-decoration: none;
}

.header-text-block {
  text-align: center;
  padding-top: 8%;
  color: #fff;
}

.header-text-block h1 {
  text-transform: capitalize;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.header-text-block p {
  font-size: 3rem;
}

.header-text-block-main-img {
  margintop: 5rem;
}

.header .main-form-block {
  margin: 0 auto;
  width: 60rem;
  height: 9rem;
  padding: 2rem;
  background-color: rgba(255,255,255,.5);
  text-align: center;
}

.header .main-form-input {
  display: line-block;
  background-color: #fff;
  padding: 1.5rem;
  height: 5rem;
  border: 0;
  margin-right: -4px;
  width: 40%;
  vertical-align: middle;
}

.header .main-form-btn,
.input-addon {
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  display: inline-block;
  background-color: #ffe13e;
  height: 5rem;
  vertical-align: middle;
}

.header .main-form-btn {
  border: 0;
  color: #fff;
  padding-right: 2rem;
  padding-left: 2rem;
}

.input-addon {
  width: 8rem;
  margin-right: -3px;
  line-height: 5rem;
}