html {
  font-size: 10px;
}

.header-text {
  margin-top: 8rem;
  text-align: center;
  font-family: 'Open Sans',sans-serif;
}

.header-text-h1 {
  font-weight: 600;
}

.header-text-first {
  color: #fd8d77;
}

.header-text-two {
  color: #8a8a8a;
}

.main-row {
  margin-top: 8rem;
  text-align: center;
  color: #fff;
}

.box {
  padding-left: 1rem;
  padding-right: 1rem;
}

.box-bug,
.box-magnet {
  height: 30rem;
  background-color: #4eb2f7;
}

.box-bug {
  background-color: #c049f8;
}

.box-camera,
.box-cogs {
  height: 30rem;
  background-color: #817eff;
}

.box-camera {
  background-color: #f74770;
}

.fa-4x {
  padding-top: 6rem;
  padding-bottom: 1rem;
}

.fa-4x-camera-retro {
  transform: rotate(-15deg);
}

.fa-1x {
  padding-right: 2rem;
}

.main-row_btn {
  margin-top: 6rem;
  font-family: 'Open Sans',sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 15px;
  height: 5rem;
  width: 20rem;
  border: 0;
  border-radius: 30px;
  -webkit-box-shadow: 0 20px 30px -10px rgba(0,0,0,.2);
  box-shadow: 0 20px 30px -10px rgba(0,0,0,.2);
  transition: all .5s;
}

.main-row_btn:hover {
  height: 30rem;
  color: #fff;
  transform: translateY(-20rem);
  background-color: #a61000;
}

.main-row_btn:focus {
  color: red;
  background-color: #fff;
  border-width: 2rem;
  border-radius: 10px;
  border-color: green;
}

.popup {
  text-align: center;
  width: 40rem;
  background-color: #fd8d77;
  transform: translateX(120%) translateY(-300%);
  position: fixed;
  opacity: 0;
  transition: all 1s;
}

.popup:target {
  opacity: 1;
  transform: translateX(120%) translateY(-100%);
}

.popup-close {
  position: absolute;
  top: .5rem;
  right: 1rem;
  text-decoration: none;
  font-size: 3rem;
}

.popup-png {
  margin: 1rem auto;
  weight: 30rem;
  height: 30rem;
}

.popup-text {
  padding-top: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
