.main-form-block {
			margin: 0 auto;
			width: 50rem;
			height: 9rem;
			padding: 2rem;
			background-color: #d8dddd;
			text-align: center;
		}

.main-form-input {
			display: line-block;
			background-color: #fff;
			padding: 1.5rem;
			height: 5rem;
			border: none;
			margin-right: -4px;
			width: 50%;
			vertical-align: middle;
		}

.main-form-btn {
			border: none;
			display: inline-block;
			background-color: #ffe13e;
			color: #fff;
			height: 5rem;
			padding-right: 2rem;
			padding-left: 2rem;
			vertical-align: middle;
			font-family: 'Raleway', sans-serif;
			font-weight: 700;
		}

.input-addon {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	display: inline-block;
	background-color: #ffe13e;
	height: 5rem;
	width: 8rem;
	margin-right: -3px;
	line-height: 5rem;
	vertical-align: middle;
}