.main {
	background-color: #f3f5f7;
}

.header {
	text-align: center;
	color: #333366;
}

.col-md-12 {
	margin-top: 40px; 
	margin-bottom: 60px;
}

.image {
	width: 150px;
    height: 140px;
    align-content: center;
}

h2 {
	text-align: center;
	color: #333366;
	padding: 20px;
}

h4 {
	text-align: center;
	color: #333366;
	padding-top: 10px;
}
