* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Bad Script',cursive;
}

.item,
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider,
body {
  padding: 0;
}

.item {
  flex-basis: 25%;
  height: 100vh;
  background-color: red;
  transition: all .3s;
}

.item:hover {
  flex-basis: 50%;
}

.item span {
  font-size: 2rem;
  text-shadow: 0 0 10px #000;
}

.item-1 {
  background: url('../img/1.jpg') center center no-repeat;
  background-size: cover;
}

.item-2 {
  background: url('../img/2.jpg') no-repeat center center;
  background-size: cover;
}

.item-3 {
  background: url("../img/3.jpg") no-repeat center center;
  background-size: cover;
}

.item-4 {
  background: url("../img/4.jpg") no-repeat center center;
  background-size: cover;
}

@media (max-width:640px) {
  .slider {
    height: 100vh;
    flex-flow: column;
  }

  .item {
    width: 100%;
  }

  .item:hover {
    flex-grow: 30%;
  }
}